/* ADVANTAGES SECTION */


.advantages__list {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    // margin: -15px;
  }

  @media screen and (min-width: 1200px) {
    flex-wrap: nowrap;
    padding-bottom: 0;
    margin-left: auto;
    margin-right: auto;
  }
}

.advantages__item {
  width: 100%;

  @media screen and (min-width: 768px) {
    width: calc((100% - 2 * 30px) / 2);
    margin: 15px;
    min-height: 248px;
  }

  @media screen and (min-width: 1200px) {
    width: 270px;
    margin: 0;
  } 
}

.advantages__item:not(:last-child) {
  @media screen and (max-width: 767px) {
  margin-bottom: 30px;
  }

  @media screen and (min-width: 1200px) {
    margin-right: 30px;
    }
}

.advantages__thumb {
  @extend %flex-center;
  justify-content: center;
  
  height: 120px;
  border-radius: 3px;
  margin-bottom: 30px;
  background-color: $light-grey-color;
}

.advantages__icon {
  width: 70px;
  height: 70px;
}

.advantages__heading {
  margin-top: 0;
  margin-bottom: 10;
  font-family: $primary-font;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $title-text-color;
}

.advantages__text {
  margin-top: 0;
  margin-bottom: 0;
  font-family: $primary-font;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}




