 .section {
  padding-top: 60px;
  padding-bottom: 60px;

  @media screen and (min-width: 1200px) and (min-width: 768px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
 
 .section-title {
   display: block;
    margin-top: 0;
    margin-bottom: 30px;
    text-align: center;
    font-family: $primary-font;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: $title-text-color;

    @media screen and (min-width: 1200px) {   
    margin-bottom: 50px;
  }
  }